body {
    background-color:  #0d0c0d;
    font-family: 'Roboto', sans-serif;
   
}

.wraper{
    background-color: #0d0c0d;
    padding: 30px;
    display: flex;
    max-height: 400px;

}
.post{
    background-color: white;
    border: none ;
    margin: auto;
    min-width: 400px;
    max-width: 400px;
    min-width: 330px;

}

.post-header{
    display: flex;
    
}
.logo{
    padding: 10px;
    font-size: 40px;
}

.user-name{
    align-self: center;
}


.user-name {
    display: flex;
    flex-direction: column;
}

img{
    padding-top: 10px;
    max-width: 100%;
}

.post details {
height: auto;
}

summary{
    /* background-color: red; */
    list-style: none; /* Elimina el triángulo por defecto */

}

.post-header{
    background-color: white;
    height: 60px;
    display: flex;
}


.post-header.logo{
    flex-direction: row;
}

.user-name{
min-width: 75%;
}

.header-points{
    padding: 5px;
    font-size: 30px;
    font-weight: 800;
    align-self: center;

}

.post-image{
    background-color: green;
    height: 220px;
    width: 100%;
}


.post-icons{
    /* border: solid red 1px; */
    background-color: white;
    height: 40px;
    display: flex;
    gap: 5px;
    font-size: 28px;
    padding-top: 10px;
    margin: 10px;
    justify-content: space-between;

}

.post-body{
    padding: 10px;
}

h4.text-instagram-sumary {
    padding-left: 10px;
    color: black;
}

p.text-post-details {
    padding: 10px;
}

#tags{
    padding-top: 3px;
    color:black
}

#tags:hover{
    color: rgb(9, 9, 162);
}